.button {
  display: inline-flex;
  align-items: center;
  height: 40px;
  border-radius: 50px;
  background-color: #267df4;
  text-decoration: none;
  color: #f6f9fe;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 0 15px;

  span {
    &:nth-of-type(2) {
      margin-left: 50px;
    }
  }

  &--white {
    background-color: #ffffff;
    border: 1px solid #dadcde;
    color: #737476;
  }
}