.features {

  &__content {
    margin-bottom: 120px;
  }

  &__items {
    display: flex;
    margin-bottom: 130px;
  }

  &__item {

    &:last-child {
      margin-left: 100px;
    }
  }

  &__icon {
    margin-bottom: 50px;
  }

  &__title {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    margin-bottom: 50px;
  }

  &__description {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #9d9fa3;
    line-height: 1.5;
  }

  &__line {
    border-bottom: 1px solid #f4f4f4;
    width: 1170px;
  }

}