.header {

  &__content {

  }

  &__logo {
    position: relative;
    text-align: center;
    padding-top: 66px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

    li {
      margin-left: 40px;

      &:first-child {
        margin-left: 0;
      }

      &:nth-child(4) {
        margin-left: 605px;
      }

      a {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        color: #26272d;
        text-decoration: none;

        &:hover {
          cursor: pointer;
          color: #9f9fa1;
        }
      }
    }
  }

  &__menu {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;

  }

  &__icon {
    display: flex;
  }

  &__button {
    display: flex;
    margin-left: 30px;
    background-color: #267df4;
    border: none;
    color: #ffffff;
    height: 40px;
    width: 130px;
    border-radius: 50px;
    margin-top: 5px;

    a {
      display: flex;
      text-decoration: none;
      margin-left: 17px;
      margin-top: 9px;
      color: #ffffff;
      font-family: 'Lato', sans-serif;
      font-size: 16px;

    }

    img {
      margin-right: 10px;
      margin-top: -3px;
    }
  }

  &__slogan {
    margin-top: 120px;
    text-align: center;
  }

  &__title {
    font-family: 'Varela Round', sans-serif;
    font-size: 31px;
    color: #26272d;
  }

  &__description {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: #d1d2d4;
    line-height: 1.5;
  }

}




