.iphone {

  &__content {
    display: flex;
    margin-bottom: 40px;
  }

  &__photo {
    img {
      max-width: 100%;
    }
  }

  &__slogan {
    margin-left: 95px;
    margin-top: 120px;
  }

  &__title {
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    color: #26272d;
        margin-bottom: 85px;
  }

  &__description {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #8c8f94;
    line-height: 1.5;
    margin-bottom: 80px;
  }

  &__buttons {

    .button__left {
      width: 200px;
      height: 40px;
      border-radius: 50px;
      border: none;
      background-color: #267df4;

      a {
        text-decoration: none;
        color: #f6f9fe;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
      }

      img {
        margin-left: 50px;
      }
    }

    .button__right {
      width: 140px;
      height: 40px;
      border-radius: 50px;
      margin-left: 15px;
      background-color: #ffffff;
      border-color: #dadcde;

      a {
        text-decoration: none;
        color: #737476;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
      }
    }
  }
}