.ready {

  &__content {
    padding-top: 75px;
    padding-bottom: 130px;
  }

  &__slogan {
    text-align: center;
    margin-bottom: 55px;
  }

  &__description {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #8c8f94;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }

  &__title {
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    color: #26272d;
  }

  &__form {
    margin-bottom: 60px;
    text-align: center;

    input {
      width: 500px;
      height: 50px;
      border-radius: 50px;
      outline: none;
    }
  }

  &__text {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #ccccd1;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 25px;
    text-align: center;
  }

  &__button {
    text-align: center;

    .button__download {
      width: 210px;
      height: 60px;
      border: none;
      border-radius: 50px;
      background-color: #131315;

      a {
        display: flex;
        text-decoration: none;
        color: #ffffff;
        font-family: 'Lato', sans-serif;
        font-size: 16px;

        img {
          margin-left: 25px;
        }
      }
    }
  }

}