.sectionFill {
  &--imageLeft {
    .sectionFill__slogan {
      padding-left: 20px;
      padding-right: 80px;
    }

    .sectionFill__photo {
      justify-content: flex-start;
    }

    .sectionFill__content {
      justify-content: flex-start;
    }
  }

  &--imageRight {
    .sectionFill__slogan {
      padding-left: 80px;
      padding-right: 20px;
    }

    .sectionFill__photo {
      justify-content: flex-end;
    }

    .sectionFill__content {
      justify-content: flex-end;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__photo {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 0;

    img {
      max-width: 100%;
    }
  }

  &__slogan {
    width: 30%;
    box-sizing: border-box;
  }

  &__title {
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    color: #26272d;
    margin-bottom: 85px;
  }

  &__description {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #8c8f94;
    line-height: 1.5;
    margin-bottom: 80px;
  }

  &__buttons {
    .button {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__partners {
    margin-bottom: 40px;
  }

  &__logos {
    a {

      &:last-child {
        margin-left: 30px;
      }
    }
  }
}